*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
.section .info-title{
    padding: 8px;
    background-color: rgba(200, 200, 200, 0.5) ;
}
.spans{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:transparent;
    position: relative;
}
.spans::before{
    content: '';
    position: absolute;
    width: 100%;
    left: 50%;
    height: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(200, 200, 200, 0.5);
    height: 1px;
    z-index: -1;
}
.spans span{
    width: 30px;
    height: 30px;
    border-radius:50%;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    background-color: #219A55;
    color:white;
}
.spans span:not(:first-child){
    background-color: rgba(200, 200, 200, 0.5) ;
}
.table{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-height: 55vh;
    justify-content: space-around;
}
.add-no{
    margin-left: auto;
    margin-right: 20px;
    border-radius: 0;
}
.sub{
    min-width: 50%;
}
