*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.form{
    height: 100vh;
    background-image: url("../img/backform.png");
    background-repeat: no-repeat;
    background-position: center;
}